<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mini Project | Muhammad Yusuf Alpian</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid container">
            <a class="navbar-brand" href="#">Sikeda</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Data Siswa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Data Guru</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Data Kelas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Data Kehadiran</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <h3 th:text="${msg}"></h3>
        <table class="table table-dark table-hover">
            <thead>
                <tr>
                    <th>NIS</th>
                    <th>Nama</th>
                    <th>Tempat</th>
                    <th>Tanggal Lahir</th>
                    <th>No. Telp</th>
                    <th>Alamat</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="siswa: ${std}">
                    <td th:text="${std.nis}"></td>
                    <td th:text="${std.nama}"></td>
                    <td th:text="${std.tempat}"></td>
                    <td th:text="${std.tgl}"></td>
                    <td th:text="${std.telp}"></td>
                    <td th:text="${std.alamat}"></td>
                </tr>
            </tbody>
        </table>
    </div>



    <script src="/webjars/bootstrap/js/bootstrap.bundle.min.js" type="text/javascript" crossorigin="anonymous"></script>
</body>
</html>